.bar-item {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: #fff3c8;
}

.bar-item:hover {
  background-color: orange;
}

.bar-item-legend {
  position: absolute;
  top: 100%;
  width: 100%;
  padding-top: 5px;
  color: #999999;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.bar-item:hover .bar-item-legend {
  color: #2c2c2c;
}